Source: aptosid-manual-transition-helper
Section: oldlibs
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 7.9.3)
Standards-Version: 3.9.1
Vcs-Svn: svn://svn.berlios.de/fullstory/aptosid-manual-transition-helper/trunk/
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/aptosid-manual-transition-helper/trunk/

Package: sidux-manual-common
Architecture: all
Depends: ${misc:Depends}
Description: transitional dummy package
 This manual is divided into common sections, for example, a subject pertaining
 to partitioning is found in Partitioning your Hard Drive, and topics regarding
 the Internet/WIFI are grouped in Internet and Networking. There are some
 topics that cannot be grouped or require stand-alone status.
 .
 This package is obsolete and should be removed.

Package: sidux-manual-bg
Architecture: all
Depends: ${misc:Depends},
 aptosid-manual-en
Description: transitional dummy package
 This manual is divided into common sections, for example, a subject pertaining
 to partitioning is found in Partitioning your Hard Drive, and topics regarding
 the Internet/WIFI are grouped in Internet and Networking. There are some
 topics that cannot be grouped or require stand-alone status.
 .
 Bulgarian language version.
 .
 This package is obsolete and should be removed.

Package: sidux-manual-da
Architecture: all
Depends: ${misc:Depends},
 aptosid-manual-en
Description: transitional dummy package
 This manual is divided into common sections, for example, a subject pertaining
 to partitioning is found in Partitioning your Hard Drive, and topics regarding
 the Internet/WIFI are grouped in Internet and Networking. There are some
 topics that cannot be grouped or require stand-alone status.
 .
 Danish language version.
 .
 This package is obsolete and should be removed.

Package: sidux-manual-de
Architecture: all
Depends: ${misc:Depends},
 aptosid-manual-de
Description: transitional dummy package
 This manual is divided into common sections, for example, a subject pertaining
 to partitioning is found in Partitioning your Hard Drive, and topics regarding
 the Internet/WIFI are grouped in Internet and Networking. There are some
 topics that cannot be grouped or require stand-alone status.
 .
 German language version.
 .
 transitional metapackage to pull in aptosid-manual-de

Package: sidux-manual-el
Architecture: all
Depends: ${misc:Depends},
 aptosid-manual-el
Description: transitional dummy package
 This manual is divided into common sections, for example, a subject pertaining
 to partitioning is found in Partitioning your Hard Drive, and topics regarding
 the Internet/WIFI are grouped in Internet and Networking. There are some
 topics that cannot be grouped or require stand-alone status.
 .
 Greek language version.
 .
 transitional metapackage to pull in aptosid-manual-el

Package: sidux-manual-en
Architecture: all
Depends: ${misc:Depends},
 aptosid-manual-en
Description: transitional dummy package
 This manual is divided into common sections, for example, a subject pertaining
 to partitioning is found in Partitioning your Hard Drive, and topics regarding
 the Internet/WIFI are grouped in Internet and Networking. There are some
 topics that cannot be grouped or require stand-alone status.
 .
 English language version.
 .
 transitional metapackage to pull in aptosid-manual-en

Package: sidux-manual-es
Architecture: all
Depends: ${misc:Depends},
 aptosid-manual-es
Description: transitional dummy package
 This manual is divided into common sections, for example, a subject pertaining
 to partitioning is found in Partitioning your Hard Drive, and topics regarding
 the Internet/WIFI are grouped in Internet and Networking. There are some
 topics that cannot be grouped or require stand-alone status.
 .
 Spanish language version.
 .
 transitional metapackage to pull in aptosid-manual-es

Package: sidux-manual-fr
Architecture: all
Depends: ${misc:Depends},
 aptosid-manual-fr
Description: transitional dummy package
 This manual is divided into common sections, for example, a subject pertaining
 to partitioning is found in Partitioning your Hard Drive, and topics regarding
 the Internet/WIFI are grouped in Internet and Networking. There are some
 topics that cannot be grouped or require stand-alone status.
 .
 French language version.
 .
 transitional metapackage to pull in aptosid-manual-fr

Package: sidux-manual-hr
Architecture: all
Depends: ${misc:Depends},
 aptosid-manual-hr
Description: transitional dummy package
 This manual is divided into common sections, for example, a subject pertaining
 to partitioning is found in Partitioning your Hard Drive, and topics regarding
 the Internet/WIFI are grouped in Internet and Networking. There are some
 topics that cannot be grouped or require stand-alone status.
 .
 Croatian language version.
 .
 transitional metapackage to pull in aptosid-manual-hr

Package: sidux-manual-hu
Architecture: all
Depends: ${misc:Depends},
 aptosid-manual-en
Description: transitional dummy package
 This manual is divided into common sections, for example, a subject pertaining
 to partitioning is found in Partitioning your Hard Drive, and topics regarding
 the Internet/WIFI are grouped in Internet and Networking. There are some
 topics that cannot be grouped or require stand-alone status.
 .
 Hungarian language version.
 .
 This package is obsolete and should be removed.

Package: sidux-manual-it
Architecture: all
Depends: ${misc:Depends},
 aptosid-manual-it
Description: transitional dummy package
 This manual is divided into common sections, for example, a subject pertaining
 to partitioning is found in Partitioning your Hard Drive, and topics regarding
 the Internet/WIFI are grouped in Internet and Networking. There are some
 topics that cannot be grouped or require stand-alone status.
 .
 Italian language version.
 .
 transitional metapackage to pull in aptosid-manual-it

Package: sidux-manual-ja
Architecture: all
Depends: ${misc:Depends},
 aptosid-manual-ja
Description: transitional dummy package
 This manual is divided into common sections, for example, a subject pertaining
 to partitioning is found in Partitioning your Hard Drive, and topics regarding
 the Internet/WIFI are grouped in Internet and Networking. There are some
 topics that cannot be grouped or require stand-alone status.
 .
 Japanese language version.
 .
 transitional metapackage to pull in aptosid-manual-ja

Package: sidux-manual-nl
Architecture: all
Depends: ${misc:Depends},
 aptosid-manual-nl
Description: transitional dummy package
 This manual is divided into common sections, for example, a subject pertaining
 to partitioning is found in Partitioning your Hard Drive, and topics regarding
 the Internet/WIFI are grouped in Internet and Networking. There are some
 topics that cannot be grouped or require stand-alone status.
 .
 Dutch language version.
 .
 transitional metapackage to pull in aptosid-manual-nl

Package: sidux-manual-pl
Architecture: all
Depends: ${misc:Depends},
 aptosid-manual-en
Description: transitional dummy package
 This manual is divided into common sections, for example, a subject pertaining
 to partitioning is found in Partitioning your Hard Drive, and topics regarding
 the Internet/WIFI are grouped in Internet and Networking. There are some
 topics that cannot be grouped or require stand-alone status.
 .
 Polish language version.
 .
 This package is obsolete and should be removed.

Package: sidux-manual-pt-br
Architecture: all
Depends: ${misc:Depends},
 aptosid-manual-pt-br
Description: transitional dummy package
 This manual is divided into common sections, for example, a subject pertaining
 to partitioning is found in Partitioning your Hard Drive, and topics regarding
 the Internet/WIFI are grouped in Internet and Networking. There are some
 topics that cannot be grouped or require stand-alone status.
 .
 Brazilian Portuguese language version.
 .
 transitional metapackage to pull in aptosid-manual-pt-br

Package: sidux-manual-ro
Architecture: all
Depends: ${misc:Depends},
 aptosid-manual-ro
Description: transitional dummy package
 This manual is divided into common sections, for example, a subject pertaining
 to partitioning is found in Partitioning your Hard Drive, and topics regarding
 the Internet/WIFI are grouped in Internet and Networking. There are some
 topics that cannot be grouped or require stand-alone status.
 .
 Romanian language version.
 .
 transitional metapackage to pull in aptosid-manual-ro

Package: sidux-manual-ru
Architecture: all
Depends: ${misc:Depends},
 aptosid-manual-ru
Description: transitional dummy package
 This manual is divided into common sections, for example, a subject pertaining
 to partitioning is found in Partitioning your Hard Drive, and topics regarding
 the Internet/WIFI are grouped in Internet and Networking. There are some
 topics that cannot be grouped or require stand-alone status.
 .
 Russian language version.
 .
 transitional metapackage to pull in aptosid-manual-ru
